<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#单只基金持仓" data-toc-modified-id="单只基金持仓-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>单只基金持仓</a></span><ul class="toc-item"><li><span><a href="#分步骤" data-toc-modified-id="分步骤-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>分步骤</a></span></li><li><span><a href="#自定义函数封装" data-toc-modified-id="自定义函数封装-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>自定义函数封装</a></span></li></ul></li><li><span><a href="#多只基金持仓" data-toc-modified-id="多只基金持仓-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>多只基金持仓</a></span></li><li><span><a href="#相关阅读" data-toc-modified-id="相关阅读-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>相关阅读</a></span></li></ul></div>

In [1]:
import akshare as ak
import pandas as pd
import numpy as np

print(f'pandas version: {pd.__version__}')
print(f'akshare version: {ak.__version__}')

pandas version: 1.3.2
akshare version: 1.3.41

## 单只基金持仓

### 分步骤

In [2]:
# 易方达蓝筹精选，005827
# 前海开源公共事业股票，005669
years = ['2019','2020','2021']

data = pd.DataFrame()
for yr in years:
    # df_tmp = ak.fund_em_portfolio_hold(code="005827",year=yr) # akshare version: 1.0.91
    df_tmp = ak.fund_portfolio_hold_em(code="005827",year=yr) # akshare version: 1.3.41
    data = data.append(df_tmp)

data['季度']=data['季度'].apply(lambda x:x[:6])
data['季度'] = data['季度'].str.replace('年','Q')
data['占净值比例'] = pd.to_numeric(data['占净值比例'])
data

      序号    股票代码    股票名称  占净值比例       持股数       持仓市值      季度
0      1   00700    腾讯控股  10.05    251.50   84618.42  2019Q4
1      2  000568    泸州老窖   9.96    968.00   83906.24  2019Q4
2      3   01177  中国生物制药   9.79   8448.10   82487.27  2019Q4
3      4  000858     五粮液   9.77    619.01   82333.96  2019Q4
4      5  600519    贵州茅台   9.73     69.26   81938.84  2019Q4
..   ...     ...     ...    ...       ...        ...     ...
125  126   03968    招商银行   2.85   5000.00  250807.17  2021Q1
126  127  002007    华兰生物   2.80   6200.01  246450.43  2021Q1
127  128  002044    美年健康   1.87  10660.01  164377.28  2021Q1
128  129  600872    中炬高新   1.71   3100.01  150133.56  2021Q1
129  130  600161    天坛生物   0.59   1600.01   52256.47  2021Q1

[364 rows x 7 columns]

In [3]:
s1 = '2021Q1'
s2 = '2021Q2'
s1_share = s1+'持股数'
s2_share = s2+'持股数'
s1_value = s1+'持仓市值'
s2_value = s2+'持仓市值'
s1_ratio = s1+'持仓比例'
s2_ratio = s2+'持仓比例'

df1 =data[data['季度']==s1]
df1 = df1[['股票代码', '股票名称','持股数','持仓市值','占净值比例']]
df1 = df1.rename(columns={'持股数':s1_share,'持仓市值':s1_value,'占净值比例':s1_ratio})
df2 =data[data['季度']==s2]
df2 = df2[['股票代码', '股票名称','持股数','持仓市值','占净值比例']]
df2 = df2.rename(columns={'持股数':s2_share,'持仓市值':s2_value,'占净值比例':s2_ratio})
df1

       股票代码   股票名称  2021Q1持股数  2021Q1持仓市值  2021Q1持仓比例
115  000858    五粮液    3300.00   884334.00       10.05
116   00388  香港交易所    2286.00   883734.07       10.04
117  600519   贵州茅台     432.00   867888.00        9.86
118   03690   美团-W    3370.43   849458.49        9.65
119   00700   腾讯控股    1610.00   830051.28        9.43
120  000568   泸州老窖    2980.00   670560.59        7.62
121  600036   招商银行   11300.00   577430.00        6.56
122  002415   海康威视    9000.02   503100.89        5.72
123  002304   洋河股份    2500.02   411753.21        4.68
124  000001   平安银行   13000.00   286130.00        3.25
125   03968   招商银行    5000.00   250807.17        2.85
126  002007   华兰生物    6200.01   246450.43        2.80
127  002044   美年健康   10660.01   164377.28        1.87
128  600872   中炬高新    3100.01   150133.56        1.71
129  600161   天坛生物    1600.01    52256.47        0.59

In [4]:
df_merge = pd.merge(df1,df2,on='股票代码',how='outer')

# Q2 和 Q4，即半年度和年度报告，是需要披露全部持仓的
# 合并后，在dataframe 中 NaN 的数据应为 0 
if s1.endswith('Q2') or s1.endswith('Q4'):
    df_merge[s1_share] = df_merge[s1_share].fillna(0)
    df_merge[s1_value] = df_merge[s1_value].fillna(0)
    df_merge[s1_ratio] = df_merge[s1_ratio].fillna(0)

if s2.endswith('Q2') or s2.endswith('Q4'):
    df_merge[s2_share] = df_merge[s2_share].fillna(0)
    df_merge[s2_value] = df_merge[s2_value].fillna(0)
    df_merge[s2_ratio] = df_merge[s2_ratio].fillna(0)


df_merge['持股数变化'] = df_merge[s2_share] - df_merge[s1_share]
df_merge = df_merge.sort_values(s2_value,ascending=False)


df_merge['股票名称'] = df_merge['股票名称_y']
# df_merge['股票名称'] = df_merge['股票名称'].fillna('0')
# df_merge.loc[df_merge['股票名称']=='0','股票名称'] = df_merge.loc[df_merge['股票名称']=='0','股票名称_x']
df_merge.loc[df_merge['股票名称'].isna(),'股票名称'] = df_merge.loc[df_merge['股票名称'].isna(),'股票名称_x']
df_merge = df_merge[['股票代码', '股票名称', s1_share, 
                     s1_value, s1_ratio, 
                     s2_share,s2_value, 
                     s2_ratio, '持股数变化']]

df_merge

,股票代码,股票名称,2021Q1持股数,2021Q1持仓市值,2021Q1持仓比例,2021Q2持股数,2021Q2持仓市值,2021Q2持仓比例,持股数变化
1,00388,香港交易所,2286.00,883734.07,10.04,2310.00,889550.10,9.90,24.00
0,000858,五粮液,3300.00,884334.00,10.05,2980.00,887712.20,9.88,-320.00
4,00700,腾讯控股,1610.00,830051.28,9.43,1810.00,879541.84,9.78,200.00
2,600519,贵州茅台,432.00,867888.00,9.86,426.00,876154.20,9.75,-6.00
5,000568,泸州老窖,2980.00,670560.59,7.62,3700.01,872980.71,9.71,720.01
...,...,...,...,...,...,...,...,...,...
93,301012,扬电科技,NaN,NaN,NaN,0.02,0.41,0.00,NaN
95,301010,晶雪节能,NaN,NaN,NaN,0.02,0.38,0.00,NaN
12,002044,美年健康,10660.01,164377.28,1.87,0.00,0.00,0.00,-10660.01
11,002007,华兰生物,6200.01,246450.43,2.80,0.00,0.00,0.00,-6200.01
13,600872,中炬高新,3100.01,150133.56,1.71,0.00,0.00,0.00,-3100.01

In [5]:
format_dict = {s1_share: '{0:.2f}', s2_share: '{0:.2f}', 
               s1_value: '{0:.0f}', s2_value: '{0:.0f}',
               s1_ratio: '{0:.2f}', s2_ratio: '{0:.2f}', 
               '持股数变化': '{0:.2f}'}

df_merge.style.hide_index()\
                .hide_columns(['股票代码'])\
                .format(format_dict)\
                .bar(subset=['持股数变化'],color=['#99ff66','#ee7621'],align='mid')

In [6]:
df_merge_update = df_merge[~(df_merge['持股数变化'].isna())]
df_merge_update.style.hide_index()\
                .hide_columns(['股票代码'])\
                .format(format_dict)\
                .bar(subset=['持股数变化'],color=['#99ff66','#ee7621'],align='mid')

### 自定义函数封装

In [7]:
def compare(code,years,s1,s2):
    """
    code,str,基金代码;
    years,list,年份列表,['yr1','yr2','……'];
    s1,str,靠前的季度, 格式为 'YYYYQ1',例如: '2021Q2';
    s2,str,靠后的季度, 格式为 'YYYYQ1',例如: '2021Q2';
    注意，s1和s2的年份应在 years 里
    """
    
    s1_share = s1+'持股数'
    s2_share = s2+'持股数'
    s1_value = s1+'持仓市值'
    s2_value = s2+'持仓市值'
    s1_ratio = s1+'持仓比例'
    s2_ratio = s2+'持仓比例'

    data = pd.DataFrame()
    for yr in years:
        # df_tmp = ak.fund_em_portfolio_hold(code=code,year=yr) # akshare version: 1.0.91
        df_tmp = ak.fund_portfolio_hold_em(code=code,year=yr) # akshare version: 1.3.41
        data = data.append(df_tmp)

    data['季度']=data['季度'].apply(lambda x:x[:6])
    data['季度'] = data['季度'].str.replace('年','Q')
    data['占净值比例'] = pd.to_numeric(data['占净值比例'])

    df1 =data[data['季度']==s1]
    df1 = df1[['股票代码', '股票名称','持股数','持仓市值','占净值比例']]
    df1 = df1.rename(columns={'持股数':s1_share,'持仓市值':s1_value,'占净值比例':s1_ratio})
    df2 =data[data['季度']==s2]
    df2 = df2[['股票代码', '股票名称','持股数','持仓市值','占净值比例']]
    df2 = df2.rename(columns={'持股数':s2_share,'持仓市值':s2_value,'占净值比例':s2_ratio})
    
    df_merge = pd.merge(df1,df2,on='股票代码',how='outer')

    # Q2 和 Q4，即半年度和年度报告，是需要披露全部持仓的
    # 合并后，在dataframe 中 NaN 的数据应为 0 

    if s1.endswith('Q2') or s1.endswith('Q4'):
        df_merge[s1_share] = df_merge[s1_share].fillna(0)
        df_merge[s1_value] = df_merge[s1_value].fillna(0)
        df_merge[s1_ratio] = df_merge[s1_ratio].fillna(0)

    if s2.endswith('Q2') or s2.endswith('Q4'):
        df_merge[s2_share] = df_merge[s2_share].fillna(0)
        df_merge[s2_value] = df_merge[s2_value].fillna(0)
        df_merge[s2_ratio] = df_merge[s2_ratio].fillna(0)


    df_merge['持股数变化'] = df_merge[s2_share] - df_merge[s1_share]
    df_merge = df_merge.sort_values(s2_value,ascending=False)


    df_merge['股票名称'] = df_merge['股票名称_y']
    # df_merge['股票名称'] = df_merge['股票名称'].fillna('0')
    # df_merge.loc[df_merge['股票名称']=='0','股票名称'] = df_merge.loc[df_merge['股票名称']=='0','股票名称_x']
    df_merge.loc[df_merge['股票名称'].isna(),'股票名称'] = df_merge.loc[df_merge['股票名称'].isna(),'股票名称_x']
    df_merge = df_merge[['股票代码', '股票名称', s1_share, 
                         s1_value, s1_ratio, 
                         s2_share,s2_value, 
                         s2_ratio, '持股数变化']]
    return df_merge

In [8]:
code = "005827"
years = ['2020','2021']
s1 =  '2020Q3' 
s2 = '2021Q1'
s1_share = s1+'持股数'
s2_share = s2+'持股数'
s1_value = s1+'持仓市值'
s2_value = s2+'持仓市值'
s1_ratio = s1+'持仓比例'
s2_ratio = s2+'持仓比例'

df_merge = compare(code,years,s1,s2)

format_dict = {s1_share: '{0:.2f}', s2_share: '{0:.2f}', 
               s1_value: '{0:.0f}', s2_value: '{0:.0f}',
               s1_ratio: '{0:.2f}', s2_ratio: '{0:.2f}', 
               '持股数变化': '{0:.2f}'}

df_merge.style.hide_index()\
                .hide_columns(['股票代码'])\
                .format(format_dict)\
                .bar(subset=['持股数变化'],color=['#99ff66','#ee7621'],align='mid')

## 多只基金持仓

In [9]:
# 获取单只基金的十大股票名称信息
def fund_stock_holding(years,code):
    data = pd.DataFrame()
    for yr in years:
        # df_tmp = ak.fund_em_portfolio_hold(code=code,year=yr) # akshare version: 1.0.91
        df_tmp = ak.fund_portfolio_hold_em(code=code,year=yr) # akshare version: 1.3.41
        data = data.append(df_tmp)

#     data['季度']=data['季度'].apply(lambda x:x[:8])
    data['季度']=data['季度'].apply(lambda x:x[:6])
    data['季度'] = data['季度'].str.replace('年','Q')
    data['占净值比例'] = pd.to_numeric(data['占净值比例'])
    
    # 序号 中，有些是字符串，并且包含字符 “*”，需要替换，最后转换为数字
    data['序号'] = data['序号'].astype(str)
    data['序号'] = data['序号'].str.replace('\*','',regex=True)
    data['序号'] = pd.to_numeric(data['序号'])
    
    data = data.sort_values(['季度','持仓市值'],ascending=[True,False])
    df = data.set_index(['序号','季度']).stack().unstack([1,2]).head(10)
    # df1.loc[:,(slice(None), ['股票名称','占净值比例'])]
    df = df.loc[:,(slice(None), '股票名称')]  # 只选取 股票名称
    df = df.droplevel(None,axis=1)
    df.columns.name=None
    df = df.reset_index()
#     df.index.name = None
    df['基金代码'] = code
    cols = df.columns.tolist()
    cols = cols[:1] + cols[-1:] + cols[1:-1]  # 将基金代码列名放前面
    df = df[cols]
    return df

In [10]:
years = ['2019','2020','2021']
df3 = fund_stock_holding(years,'005827')
df3

,序号,基金代码,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4
0,1,005827,NaN,NaN,NaN,腾讯控股,NaN,NaN,NaN,贵州茅台,NaN,NaN,NaN,腾讯控股
1,2,005827,NaN,NaN,NaN,泸州老窖,NaN,NaN,NaN,美团-W,NaN,NaN,NaN,海康威视
2,3,005827,NaN,NaN,NaN,中国生物制药,NaN,NaN,NaN,洋河股份,NaN,NaN,NaN,泸州老窖
3,4,005827,NaN,NaN,NaN,五粮液,NaN,NaN,NaN,腾讯控股,NaN,NaN,NaN,贵州茅台
4,5,005827,NaN,NaN,NaN,贵州茅台,NaN,NaN,NaN,五粮液,NaN,NaN,NaN,五粮液
5,6,005827,NaN,NaN,NaN,香港交易所,NaN,NaN,NaN,香港交易所,NaN,NaN,NaN,洋河股份
6,7,005827,NaN,NaN,NaN,石药集团,NaN,NaN,NaN,泸州老窖,NaN,NaN,NaN,香港交易所
7,8,005827,NaN,NaN,NaN,药明生物,NaN,NaN,NaN,海康威视,NaN,NaN,NaN,招商银行
8,9,005827,NaN,NaN,NaN,华兰生物,NaN,NaN,NaN,爱尔眼科,NaN,NaN,NaN,伊利股份
9,10,005827,NaN,NaN,NaN,上海机场,NaN,NaN,NaN,颐海国际,NaN,NaN,NaN,平安银行

In [11]:
codes = ['005669','006281','003956','001532',
         '001714','001054','001809','003853',
         '004890','001125','001808']
df = pd.DataFrame()
for code in codes:
    df_tmp = fund_stock_holding(years,code)
    df = df.append(df_tmp)
df

,序号,基金代码,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4
0,1,005669,NaN,NaN,NaN,长江电力,NaN,NaN,NaN,比亚迪,NaN,NaN,NaN,华润电力
1,2,005669,NaN,NaN,NaN,上海机场,NaN,NaN,NaN,中科电气,NaN,NaN,NaN,华能国际电力股份
2,3,005669,NaN,NaN,NaN,华润燃气,NaN,NaN,NaN,亿纬锂能,NaN,NaN,NaN,中国电力
3,4,005669,NaN,NaN,NaN,深圳高速公路股份,NaN,NaN,NaN,星源材质,NaN,NaN,NaN,亿纬锂能
4,5,005669,NaN,NaN,NaN,华测检测,NaN,NaN,NaN,阳光电源,NaN,NaN,NaN,比亚迪股份
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,6,001808,NaN,NaN,NaN,中科电气,NaN,NaN,NaN,科沃斯,NaN,NaN,NaN,中天科技
6,7,001808,NaN,NaN,NaN,兆易创新,NaN,NaN,NaN,中科创达,NaN,NaN,NaN,大金重工
7,8,001808,NaN,NaN,NaN,汇顶科技,NaN,NaN,NaN,吉比特,NaN,NaN,NaN,宏达电子
8,9,001808,NaN,NaN,NaN,璞泰来,NaN,NaN,NaN,爱康科技,NaN,NaN,NaN,恒生电子
9,10,001808,NaN,NaN,NaN,吉比特,NaN,NaN,NaN,杉杉股份,NaN,NaN,NaN,北新建材

In [12]:
# 获取基金名称信息
df_fund_info = ak.fund_em_fund_name()
df_fund_info = df_fund_info.query('基金代码 in @codes')
df_fund_info = df_fund_info[['基金代码','基金简称']]
df_fund_info = df_fund_info.reset_index(drop=True)
df_fund_info

      基金代码           基金简称
0   001054       工银新金融股票A
1   001125  博时互联网主题灵活配置混合
2   001532      华安文体健康混合A
3   001714      工银文体产业股票A
4   001808  银华互联网主题灵活配置混合
5   001809     中信建投智信物联网A
6   003853      金鹰信息产业股票A
7   003956       南方产业智选股票
8   004890       中邮健康文娱混合
9   005669     前海开源公用事业股票
10  006281      万家人工智能混合A

In [13]:
df_fund = pd.merge(df,df_fund_info,on='基金代码')
cols = df_fund.columns.tolist()
cols = cols[:1] + cols[-1:] + cols[2:-1]  # 将基金简称放前面
df_fund =df_fund[cols]
df_fund

,序号,基金简称,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4
0,1,前海开源公用事业股票,NaN,NaN,NaN,长江电力,NaN,NaN,NaN,比亚迪,NaN,NaN,NaN,华润电力
1,2,前海开源公用事业股票,NaN,NaN,NaN,上海机场,NaN,NaN,NaN,中科电气,NaN,NaN,NaN,华能国际电力股份
2,3,前海开源公用事业股票,NaN,NaN,NaN,华润燃气,NaN,NaN,NaN,亿纬锂能,NaN,NaN,NaN,中国电力
3,4,前海开源公用事业股票,NaN,NaN,NaN,深圳高速公路股份,NaN,NaN,NaN,星源材质,NaN,NaN,NaN,亿纬锂能
4,5,前海开源公用事业股票,NaN,NaN,NaN,华测检测,NaN,NaN,NaN,阳光电源,NaN,NaN,NaN,比亚迪股份
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,6,银华互联网主题灵活配置混合,NaN,NaN,NaN,中科电气,NaN,NaN,NaN,科沃斯,NaN,NaN,NaN,中天科技
106,7,银华互联网主题灵活配置混合,NaN,NaN,NaN,兆易创新,NaN,NaN,NaN,中科创达,NaN,NaN,NaN,大金重工
107,8,银华互联网主题灵活配置混合,NaN,NaN,NaN,汇顶科技,NaN,NaN,NaN,吉比特,NaN,NaN,NaN,宏达电子
108,9,银华互联网主题灵活配置混合,NaN,NaN,NaN,璞泰来,NaN,NaN,NaN,爱康科技,NaN,NaN,NaN,恒生电子
109,10,银华互联网主题灵活配置混合,NaN,NaN,NaN,吉比特,NaN,NaN,NaN,杉杉股份,NaN,NaN,NaN,北新建材


## 相关阅读

1. [用Python来做一个投资计划](https://mp.weixin.qq.com/s/WYuMwCJBrWaBiDs8xp2KMA)
2. [用Python快速追踪基金的收益情况](https://mp.weixin.qq.com/s/7w3Ned9M5FqRQd6inxmeRw)
3. [视频：Plotly 和 Dash 在投资领域的应用](https://mp.weixin.qq.com/s/VopPrpe_64j5za4AYkmUTg)
4. [视频：Plotly中绘制股票交易图表](https://mp.weixin.qq.com/s/1TUB2G-xavNm796uXUnRfQ)
5. [Plotly中绘制三种经典的股票交易图表](https://mp.weixin.qq.com/s/1v3h5-5fNVk7cBdaRKzJkg)
6. [神器Tushare，财经数据必备工具！](https://mp.weixin.qq.com/s/c1ukemeK12flCgA-lo69fA)
7. [用 Python 读取巴菲特近期持仓数据](https://mp.weixin.qq.com/s/6h9Xq2lfrZSlRNw_W8aWcg)

更多内容，请关注公众号「**Python数据之道**」：

![](https://tva1.sinaimg.cn/large/008i3skNgy1gs2d9ca7dvj31hc0u07ng.jpg)